<section class="wrapper">
  <div [ngClass]="'card card-position'">
    <h2 [ngClass]="'card_title'">Authorization</h2>
    <p [ngClass]="'card_subtitle'">Sing in your account</p>

    <div class="loader"></div>

    <form action="#" autocomplete="off" [formGroup]="form" (ngSubmit)="submit()">
      <div class="formField_withIcon">
        <img src="../../assets/icons/how_to_reg-black-18dp.svg" [ngClass]="'formField_withIcon-icon'" alt="">
        <div [ngClass]="'formField'">
          <input [ngClass]="'formField_input'" type="text" id="login" placeholder="Enter your login" formControlName="login">
          <label for="login">Login</label>
        </div>
      </div>

      <div class="formField_withIcon">
        <img src="../../assets/icons/lock-black-18dp.svg" [ngClass]="'formField_withIcon-icon'" alt="">
        <div [ngClass]="'formField'">
          <input [ngClass]="'formField_input'" type="password" id="password" placeholder="Enter your password" formControlName="password">
          <label for="password">Password</label>
        </div>
      </div>

      <button [ngClass]="'button'" type="submit" [disabled]="form.invalid">Login in</button>
    </form>
    <div *ngIf="form.invalid && form.touched" [ngClass]="'message message-error'">
      <p *ngIf="form.get('login').errors?.required && form.get('login').touched">Login field is required.</p>
      <p *ngIf="form.get('password').errors?.required && form.get('password').touched">Password field is required.</p>
    </div>
  </div>
</section>
