<section class="wrapper">
  <div [ngClass]="'card authorizationForm'">
    <h2 [ngClass]="'card_title'">Authorization</h2>
    <p [ngClass]="'card_subtitle'">Sing in your account</p>

    <div class="loader"></div>

    <form action="#" autocomplete="off">
      <div class="formField_withIcon">
        <img src="../../assets/icons/how_to_reg-black-18dp.svg" [ngClass]="'formField_withIcon-icon'" alt="">
        <div [ngClass]="'formField'">
          <input [ngClass]="'formField_input'" type="text" id="login" placeholder="Enter your login">
          <label for="login">Login</label>
        </div>
      </div>

      <div class="formField_withIcon">
        <img src="../../assets/icons/lock-black-18dp.svg" [ngClass]="'formField_withIcon-icon'" alt="">
        <div [ngClass]="'formField'">
          <input [ngClass]="'formField_input'" type="password" id="password" placeholder="Enter your password">
          <label for="password">Password</label>
        </div>
      </div>

      <button [ngClass]="'button'">Login in</button>
    </form>
  </div>
</section>
