<section class="wrapper">
  <form [formGroup]="workoutForm" [ngClass]="'card card-position'" (ngSubmit)="saveNewWorkout()">

    <div *ngIf="this.loading" class="loader"></div>

    <h2 [ngClass]="'card_title'">New workout</h2>
    <p [ngClass]="'card_subtitle'">Record your workout</p>

    <ul [ngClass]="'wrapper-list'">
      <app-exercise-card *ngFor="let exercise of this.newWorkout.exercises; let i = index" [exercise]="exercise" [indexOfExercise]="i" [onAddExerciseApproaches]="this.addExerciseApproaches"></app-exercise-card>
    </ul>

    <app-create-exercise *ngIf="newExerciseFormIsActive" [onCloseCreateExerciseComponent]="this.onCloseNewExerciseForm"></app-create-exercise>

      <div [ngClass]="'selectOfExercise_wrapper'">
        <div [ngClass]="'formField'" (click)="onOpenSelectOfExercise()">
          <input #selectOfExerciseInput [value]="selectOfExerciseValue" readonly [ngClass]="'formField_input'" type="text" id="addExercise" placeholder="Enter your exercise">
          <label for="addExercise">Your exercise</label>
        </div>

        <menu *ngIf="selectOfExerciseIsActive" [ngClass]="'menu selectOfExercise'" #selectOfExercise>
          <li [ngClass]="'menu_item'" *ngFor="let exercise of this.newWorkoutService.getCustomExercisesList() || []; let i = index" (click)="onSelectExercise(i)"><a>{{exercise.title}}</a></li>
          <li [ngClass]="'menu_item'" (click)="onOpenNewExerciseForm()"><a>Add exercise</a></li>
        </menu>

        <button [ngClass]="'button button-outlined'" type="button" [disabled]="selectOfExerciseValue === ''" (click)="addExercise()">Add exercise</button>
      </div>

    <div [ngClass]="'formField'">
      <input [ngClass]="'formField_input'" type="number" id="userWeight" placeholder="Enter your weight" formControlName="userOfWeight">
      <label for="userWeight">Your weight</label>
    </div>

    <button type="submit" [ngClass]="'button'" [disabled]="!workoutForm.valid || this.newWorkout.exercises.length === 0">complete the workout</button>

    <div *ngIf="workoutForm.invalid && workoutForm.touched || !!this.error" [ngClass]="'message message-error'">
      <p *ngIf="!!this.error">{{this.error}}</p>
      <p *ngIf="workoutForm.get('userOfWeight').errors?.required && workoutForm.get('userOfWeight').touched">Specify your weight</p>
    </div>
  </form>
</section>
