<section class="wrapper">
  <div [ngClass]="'card card-position'">
    <h2 [ngClass]="'card_title'">New workout</h2>
    <p [ngClass]="'card_subtitle'">Record your workout</p>

    <ul [ngClass]="'wrapper-list'">

      <li [ngClass]="'card'">
        <h2 [ngClass]="'title title-small'">Жим штанги лежа</h2>
        <p [ngClass]="'subtitle'">Грудь, Передняя дельта</p>
        <ul [ngClass]="'wrapper wrapper-list-horizontal'">
          <li>
            <p [ngClass]="'text'">60<span [ngClass]="'subtext'">kg</span></p>
            <p [ngClass]="'text'">10<span [ngClass]="'subtext'">reps</span></p>
          </li>

          <li>
            <p [ngClass]="'text'">60<span [ngClass]="'subtext'">kg</span></p>
            <p [ngClass]="'text'">10<span [ngClass]="'subtext'">reps</span></p>
          </li>

          <li>
            <button [ngClass]="'button button-icon'"><img src="../../assets/icons/add-24px.svg" alt="add"></button>
          </li>
        </ul>
      </li>

      

    </ul>
  </div>
</section>
