<header [ngClass]="'navBar'">
  <h1 [ngClass]="'title-app'">Training Diary</h1>
  <nav [ngClass]="'navList'">
    <ul *ngIf="!isAuth">
      <li [ngClass]="'navList_item'"><a [routerLink]="'/registration'" [routerLinkActive]="'navList_item-active'">Registration</a></li>
      <li [ngClass]="'navList_item'"><a [routerLink]="'/authorization'" [routerLinkActive]="'navList_item-active'">Login</a></li>
    </ul>
    <ul *ngIf="isAuth">
      <li [ngClass]="'navList_item'"><a [routerLink]="'/new-workout'" [routerLinkActive]="'navList_item-active'">New workout</a></li>
      <li [ngClass]="'navList_item'"><a (click)="logout()" [routerLinkActive]="'navList_item-active'">Logout</a></li>
    </ul>
  </nav>
</header>

